[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tpot = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pil = "*"
pillow = "*"
imageio = "*"
image = "*"

[requires]
python_version = "3"
